body {
    background-image: url(img/cyber.jpg);
    background-size: cover;
    margin: 0px;
}

#topBox {
    width: 100%;
    height: 8vh;
    line-height: 50px;
    background: rgba(7, 7, 131, 0.463);
    text-align: center;
    box-shadow:0 0 100px 30px white;
}

.topText {
    padding-top: 5px;
    font-size: 30px;
    font-style: italic;
    color: white;
}

#tableBox {
    height: 500px;
    width: 850px;
    background: rgba(0, 128, 0, 0.5);
    border-radius: 20px;
    border: 3px solid silver;
    margin-top: 120px;
    margin-left: 130px;
    box-shadow:0 0 50px 5px silver;
}

#graphics {
    padding-top: 125px;
    padding-left: 80px;
}

#y {
    padding-left: 123px;
    padding-top: 10px;
}

#x {
    padding-left: 230px;
    padding-top: 130px;
}

.label {
    font-size: 13px;
    position: absolute;
}

.relative {
    position: relative;
}

#parameters {
    height: 440px;
    width: 420px;
    background: rgba(255, 170, 0, 0.7);
    border-radius: 20px;
    left: 400px;
    bottom: 350px;
}